@import '../../assets/theme/palette';

.CurrencyChange {
  text-align: center;

  .joinInputs {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .btnCalculate {
    padding-top: 55px;

    button {
      padding: 10px 100px;
      position: relative;
      &:disabled {
        cursor: not-allowed;
      }
    }
  }

  .loader {
    position: absolute;
    top: 5px;
    left: calc(100% - 40px);
  }
}
