/* Coolors Exported Palette - coolors.co/172c33-1789af-17afea-ffffff-174668 */

/* HSL */
$color1: hsla(195%, 38%, 15%, 1);
$color2: hsla(195%, 77%, 39%, 1);
$color3: hsla(197%, 83%, 50%, 1);
$color4: hsla(0%, 0%, 100%, 1);
$color5: hsla(205%, 64%, 25%, 1);

/* RGB */
$color1: rgba(23, 44, 51, 1);
$color2: rgba(23, 137, 175, 1);
$color3: rgba(23, 175, 234, 1);
$color3-1: #BFE9F9;
$color4: rgba(255, 255, 255, 1);
$color5: rgba(23, 70, 104, 1);

$white: #ffffff;
$black1: #333333;
$black2: #666666;
$black3: #999999;
