/* Coolors Exported Palette - coolors.co/3dbbdb-174db4-b28dca-7b6e90-ffeaa0 */

/* HSL */
$color1: hsla(192%, 69%, 55%, 1);
$color2: hsla(219%, 77%, 40%, 1);
$color3: hsla(276%, 37%, 67%, 1);
$color4: hsla(263%, 13%, 50%, 1);
$color5: hsla(47%, 100%, 81%, 1);

/* RGB */
$color1: rgba(61, 187, 219, 1);
$color2: rgba(23, 77, 180, 1);
$color3: rgba(178, 141, 202, 1);
$color4: rgba(123, 110, 144, 1);
$color5: rgba(255, 234, 160, 1);

$white: #ffffff;
$black1: #333333;
$black2: #666666;
$black3: #999999;
