.InputChange {
  width: 100%;

  label{
    float: left;
  }

  input[type='text'] {
    height: 40px;
    width: 100%;
    margin-top: 20px;
  }
}

@media (min-width: 992px) {
  .InputChange {
    width: auto;

    input[type='text'] {
      height: 40px;
      width: 300px;
      margin-top: 10px;
    }
  }

}
